apiVersion: v1
kind: Service
metadata:
  name: ms-api
  namespace: eagle-services
  labels:
    app: ms-api
    component: external-api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8090"
    prometheus.io/path: "/actuator/prometheus"
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8089
    targetPort: http
    protocol: TCP
  - name: management
    port: 8090
    targetPort: management
    protocol: TCP
  selector:
    app: ms-api
    version: v1
---
apiVersion: v1
kind: Service
metadata:
  name: ms-api-headless
  namespace: eagle-services
  labels:
    app: ms-api
    component: external-api
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http
    port: 8089
    targetPort: http
    protocol: TCP
  selector:
    app: ms-api
    version: v1