apiVersion: v1
kind: Service
metadata:
  name: ms-orchestrator
  namespace: eagle-services
  labels:
    app: ms-orchestrator
    component: orchestrator
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8081"
    prometheus.io/path: "/actuator/prometheus"
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: http
    protocol: TCP
  - name: management
    port: 8081
    targetPort: management
    protocol: TCP
  selector:
    app: ms-orchestrator
    version: v1
---
apiVersion: v1
kind: Service
metadata:
  name: ms-orchestrator-headless
  namespace: eagle-services
  labels:
    app: ms-orchestrator
    component: orchestrator
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - name: http
    port: 8080
    targetPort: http
    protocol: TCP
  selector:
    app: ms-orchestrator
    version: v1